/* Base Styles */


body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.4em;
	color: #222;
	background: url("boby.jpg");
	font-family: 'Lato', sans-serif;
}

h5{
	text-align: center;
	padding-top: 45px;

}
.contact1{
	margin-top: 5em;
	 background: url('backgr2.jpg') no-repeat center center fixed;

}
.form{
	margin-top: 85px;
	margin-bottom: 5em;
	background: black;
	margin-right: 25%;
	margin-left: 25%;

}
.form input{
color: white;
font-family: 'Abril Fatface', cursive;
}
.form textarea{
	color: white;
	height: 175px;
}

.form span{
	background: none;
}



/*contact page css below*/
.wrp{
	text-align: center;
}
/* line 2, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
.nav-wrapper {
  background: gray;
  margin-bottom: 100px;
}

/* line 7, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
.bg-overlay h1 {
  padding-left: 25px;
  color: #043227;
  font-size: 8em;
  font-family: 'Abril Fatface', cursive;
}

/* line 15, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
.container {
  perspective: 800px;
}

/* line 18, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
#trans {
  transform: rotateY(45deg);
}

/* line 21, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
.intro-message p {
  color: white;
}

/*top background*/
/* line 27, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
.intro-header {
  margin-top: -15.5px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: url("topbaner.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 880px;
}

/* line 36, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
.intro-message {
  color: gray;
  position: relative;
  padding-left: 4%;
  padding-top: 4%;
  padding-bottom: 55%;
}

/*Big header*/
/* line 45, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
.intro-message h1 {
  margin-top: -50px;
  text-shadow: 2px 1px 2px #000;
  font-size: 5em;
  color: rgba(255, 255, 255, 0.7);
}

/* line 52, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
.intro-messageh3 {
  text-align: center;
  color: green;
  font-family: "Lato","Helvetica Neue",Arial,sans-serif;
  font-size: 5.5em;
  text-shadow: 3px 1px 3px #000;
}

/* line 59, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
.clearfix {
  padding-right: 45px;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 45px;
}

/* line 65, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
.clearfix a i span {
  padding-right: 45px;
  margin-top: 25px;
}

/*sec-section*/
/* line 71, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
#main-sect h4 {
  text-align: center;
  padding-bottom: 15px;
  color: orange;
  font-family: 'Abril Fatface', cursive;
}

/* line 77, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
#main-sect p {
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: sans-serif;
}

/*featured of project css*/
/* line 84, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
.fea-proj h3 {
  text-align: center;
  color: white;
  font-size: 5em;
  color: #097168;
  opacity: 0.6;
  font-family: 'Abril Fatface', cursive;
}

/* line 92, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
.fea-proj {
  margin-top: 265px;
}

/* line 95, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
#col-mobile {
  float: left;
  margin-right: 10%;
  display: inline-block;
}

/*line*/
/* line 105, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
#graph {
  padding-top: 75px;
  padding-left: 25px;
  text-align: center;
}

/* line 110, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
#graph p {
  text-align: center;
}

/* line 113, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
#graph2 {
  padding-top: 75px;
  padding-left: 25px;
  text-align: center;
}

/* line 118, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
#graph2 p {
  text-align: center;
}

/* line 121, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
#graph3 {
  padding-top: 75px;
  padding-right: 25px;
  text-align: center;
}

/* line 126, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
#graph3 p {
  text-align: center;
  margin-bottom: 55px;
}

/*section 2*/
/* line 134, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
.content-section-a {
  margin-top: 135px;
  padding: 50px 0;
  background: url("backgr2.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 800px;
}

/* line 144, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
.bg-overlay2 {
  margin-top: -220px;
  background: rgba(255, 255, 255, 0.2);
  height: 945px;
}

/* line 153, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
footer {
  background: black;
  height: 250px;
  color: white;
  margin-top: 45px;
  text-align: center;
}

/* line 161, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
footer a {
  margin-right: 25px;
}

@media (max-width: 1200px) {
  /* line 168, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
  .intro-header {
    margin-top: -15.5px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: url("topbaner.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 9  80px;
  }

  /* line 176, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
  .nav-wrapper {
    display: center !important;
  }

  /* line 182, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
  .bg-overlay h1 {
    padding-left: 95px;
    color: #043227;
    font-size: 9em;
    font-family: 'Abril Fatface', cursive;
  }

  /* line 188, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
  .container {
    perspective: 1600px;
  }

  /* line 191, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
  .trans h1 {
    text-align: center;
  }

  /* line 194, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
  .content-section-a {
    width: 100% !important;
    margin: 5px, 0px, 5px, 0px;
  }

  /* line 198, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
  .content-section-a {
    height: 2400px;
  }

  /* line 203, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
  .col {
    width: 100% !important;
    margin: 5px, 0px, 5px, 0px;
  }

  /* line 207, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
  .fea-proj {
    text-align: center;
    padding-bottom: 55px;
    background: white;
  }

  /* line 213, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
  .fea-proj col {
    padding-bottom: 15px;
  }

  /* line 218, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
  #graph {
    text-align: center;
    color: green;
  }

  /* line 222, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
  #graph h4 {
    color: orange;
    font-family: 'Abril Fatface', cursive;
    font-size: 55px;
    padding-bottom: 2%;
  }

  /* line 229, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
  #graph2 {
    text-align: center;
    color: green;
  }

  /* line 233, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
  #graph2 h4 {
    color: orange;
    font-family: 'Abril Fatface', cursive;
    font-size: 55px;
    padding-bottom: 2%;
  }

  /* line 239, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
  #graph3 {
    width: 100%;
    text-align: center;
    color: green;
  }

  /* line 244, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
  #graph3 h4 {
    color: orange;
    font-family: 'Abril Fatface', cursive;
    font-size: 55px;
    padding-bottom: 2%;
  }

  /* line 251, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
  .intro-message {
    text-align: center;
    padding-top: 180px;
  }

  /* line 257, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
  .intro-message h4 {
    color: red;
    font-size: 45px;
    padding-bottom: 25px;
  }

  /* line 263, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
  .intro-message p {
    text-align: center;
    color: white;
    font-size: 25px;
    margin-left: 20%;
    margin-right: 25%;
    background: gray;
    opacity: 0.6;
  }

  /* line 272, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
  .trans {
    margin-top: 100px;
  }

  /* line 275, /home/philco/aftermath/Philporfolio/app/assets/stylesheets/home.scss */
  .form {
    margin-top: 95px;
    margin-bottom: 5em;
    background: black;
    margin-right: 25%;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

