 <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            
                
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="index">Home</a>
                    </li>
                    <li>
                        <a href="home/aboutme">About</a>
                    </li>
                    <li>
                        <a href="#portfolio">Portfolio</a>
                    </li>
                   <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<h1 id="me">WELCOME!!</h1>
<div class="about">
<img  src="https://media.licdn.com/media/AAEAAQAAAAAAAAefAAAAJDgxOTllZWIyLTgwYTUtNDY2MC1iZGZkLWY0ODFmYTg4ZGM2Mg.jpg"><br>

 <h1>Hello</h1>
 <p> My namy again is Philco Michel</p><br>
 <p>I am a man of service , I was born and raised in a little village in Haiti. At the age of 15 My parents sent me to United State where I pursued my education , I went to public for a while but the environment wasn't well than transferred to a private school. after graduation I went on work in retail for 3 years. I realize I have do what I want it fo , which is getting into technology. after so many research I came across and Wyncode. I then apply for , thanks the Lord God alMighty not  only I got in but with a full scholarship with the great help of. The Knight Foundation which I Am very very grateful for . At wyncode I have learned many languages .	Ruby, Html Css Javascript,Ruby on rails, Sinatra, Jquery, Bootstrap
Tech, Database: 	OOP, MVC, Git, Command Line, Heroku, Agile, postgreSQL, and so  on . to learn more about please click here_____.  <p> 

<h3> Skill into Work</h3>
<a href="https://ancient-inlet-81499.herokuapp.com/"><img src="one.jpg"></a>
 </div>
