<header>
          <h1 class="logo">PHIL</h1>
    </header>
    
   <!--  <nav>
            <ul>
                    <li class="nav-item"><a href="index" >Home</a></li>
                    <li class="nav-item"><a href="#" >Blog</a></li>
                    <li class="nav-item"><a href="about">About</a></li>
                    <li class="nav-item"><a href="#" >Contact</a></li>
              </ul>
                  <div class="menu-bar">Menu
                        <span class="hamburger-icon"><i class="fa fa-bars"></i></span>
              </div>
        </nav> -->
    
    <div class="container">
          <div class="section">
                <div class="col span_2_of_3">
        <div class="blog-post">
        <h1 class="blog-title">Early life</h1>
        <p class="blog-content">Philco Michel was born and raised in Haiti, in a little village call Labadee.He is the second child of three.He start his education there, at the age of 15 his sent him to the united State where he finish he gradueted high school and work in retail for a while. </p>
        <a href="#" class="post-link">Read More...</a>
                    </div>
        
                      <div class="blog-post">
        <h1 class="blog-title"> Education</h1>
        <p class="blog-contente">in 2009 I went to Boyd Anderson High for about to years and transfered to Fuvis Learning Center for the last two years of my high school education. after graduating I went to Pen forster for a while to learn C# which really hard to learn in my own because it was online, after leaving penforster I went and attened NYIAD (Ney York Institude of Art.) for Interior design, I love to draw, blueprints so I gave it a short but finiace was an issue, after a while I heard of wyncode the Art Of Coding. which got me here in the new path of my life,</p>
        <a href="#" class="post-link">Read More...</a>
      </div>

                      <div class="blog-post">
                            <h1 class="blog-title">Work Exprience</h1>
            <p class="blog-content"><h5>WORK EXPERIENCE</h5><br>
<h5>Gordon Food Service</h5>
<p>Fort Lauderdale, FL (2012 - 2015)</p>

<li>Proveded premium customer care service.</li>
<li>Provided training and motivation to  new hires.</li>
<li>Educated associates and customers about new products carried in the store.</li>
<li>Guided district manager throughout the plans of the store.</li>
<li>Supervised associates and securely maintained the store’s safe.</li>

<h5>Schack Auto Insurance </h5>
<p>North Lauderdale FL,(2015 - 2016)</p>

<li>Organized lists and  policy’s of the names of the clients daily.</li>
<li>Schedule meeting with clients for new policy, weekly or by-weekly.</li>
<li>Provide auto and health insurance quotes over the phone for about 200+ customer per day.</li>
<li>Advised clients on purchasing auto and health insurance.</li>
<li>Efficiantly collected money.</li>

.</p>
                                    <a href="#" class="post-link">Read More...</a>
                      </div>
                </div>
                
                <aside class="col span_1_of_3">
                      <div class="side-post">
                            <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAefAAAAJDgxOTllZWIyLTgwYTUtNDY2MC1iZGZkLWY0ODFmYTg4ZGM2Mg.jpg" alt="img">
            <p class="side-content">In Life you have to fight for all, and you most have patient at all time for it is courage that will give you victoty. you can't give up at any point of your life. because you made it to far.</p>
                      </div>
                
                      <div class="side-post">
                            <p class="side-content">Tell me What you think of Me and any question that you may have.</p>
                           <a href="new">new</a>
                      </div>
                 </aside>
          </div>
    </div>