<header>
  <h1 class="logo">PHIL</h1>
</header>

<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="container topnav">
    <ul class="nav navbar-nav navbar-right">

      <li>
        <a href="index">Home</a>
      </li>
      <li>
        <a href="projects">My Work</a>
      </li>
      <li>
        <a href="contact">Contact</a>
      </li>
    </ul>
  </div> 
</div>
</nav>  
  

<div class="container">

  <div class="section">
    <div class="col span_2_of_3">
      <div class="blog-post">
        <div class="ui grid">

          <div class="four wide column"> 
            <%= image_tag("one.jpg", height:'50', width: '400',)  %>

            <p class="side-content">Philco Michel.<br>.</p></div>

          </div>
          <h1 class="blog-title">About Me</h1>
          <p class="blog-content">
I am a software developer who is passionate about coding. I eat, breathe, and sleep coding. I code so much when I see the word “push” on a door, I always pull first hahaha...did you get that? Aside from coding, I am a trumpetist, soccer and basketball player, I can also play tennis but you probably would be able to beat me in it.

</p> <br>
<h1 class="blog-title">Where I'm From?</h1>
<p>

I currently reside in Margate, FL, but was born and raised in Haiti. I came here at the age of 15, but I can’t tell you how long I’ve been living here, because you’d know how old I am lol.


  
</p><br>
<h1 class="blog-title">More About Me</h1>
<p>
My passion for programming started at an early age. By pulling electronic gadgets or toys apart, trying to understand how they work, and trying to restore them back to how it originally was. As a software developer, I like to focus on one goal at a time. I truly believe that the human mind functions better when you work step-by-step. My goal is to become a great developer that brings joy and happiness to all my clients.

  
</p>

         
        </div>
        
        <div class="blog-post">
          <h1 class="blog-title"> Education</h1>
          <p class="blog-contente">
            I went to Boyd Anderson High for 2 years than transferred to Fuvis Christian Learning Center where I graduated. A year after graduation,  I continued my education online at Penn Foster and studied C#. Later on, I went on to study interior design at NYIAD (New York Institute of Art) where I also discovered my passion for drawing. During my studies for interior design, I received a scholarship for Wyncode through the Knight Foundation to become a web developer. Now, I am a software developer and I intend to further my education in computer science.

          </p>
          
        </div>

        <div class="blog-post">
          <h1 class="blog-title">Work Experience</h1>
          <p class="blog-content"><br>
            <h5>Gordon Food Service</h5>
            <p>Fort Lauderdale, FL (2012 - 2015)</p>

            <li>Provided premium customer care service.</li>
            <li>Provided training and motivation to  new hires.</li>
            <li>Educated associates and customers about new products carried in the store.</li>
            <li>Guided district manager throughout the plans of the store.</li>
            <li>Supervised associates and securely maintained the store’s safe.</li>

            <h5>Schack Auto Insurance </h5>
            <p>North Lauderdale, FL (2015 - 2016)</p>

            <li>Organized lists and  policies of the names of the client's daily.</li>
            <li>Schedule meeting with clients for new policy, weekly or biweekly.</li>
            <li>Provide auto and health insurance quotes over the phone for about 200+ customer per day.</li>
            <li>Advised clients on purchasing auto and health insurance.</li>
            <li>Efficiently collected money.</li>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>









