<div class="wrp1">

	<h1  class="wrp">Contact Me Here</h1>

	<div class="container">
		<div class="small-6 large-12 columns">
			<div class="col">
				<div class="small-4 columns">
					<%= image_tag("weeknews.jpg", height:'70', width: '400',)  %>

					<form action="https://formspree.io/phil9231@gmail.com"
					method="POST">
					Name: <input type="text" name="fullname"><br>
					phone: <input type="text" name="phone"><br>
					Kind of event: <input type="text" name="fullname"><br>
					Explain what you need: <textarea rows="6" cols="18"></textarea>
					<input type="submit" value="Submit">
				</form>
			</div>

		</div>
	</div>




	<aside class="col">
		<div class="side-post">
			<a href="https://github.com/philcoo"><i class="fa fa-github" aria-hidden="true"> My github</i></a>
			<p><i class="fa fa-mobile" aria-hidden="true"></i> My phone</a><br>(954) 826-2644</p>
			<p class="side-content">In Life you have to fight for what you need. <br>  you most be patient at all time for it is courage that will bring you victoty. you can't give up at any point of your life. because you made it to far.</p>
		</div>

		<div class="side-post">
			<a href="https://www.linkedin.com/nhome/?trk=uno-reg-join-sign-in"><i class="fa fa-linkedin" aria-hidden="true"></i><br> My linkend</a>
			<p class="side-content">send me any question that you may have.</p>
		</div>
	</aside>

	<aside class="col">
		<div class="side-post">
			<a href="https://github.com/philcoo"><i class="fa fa-github" aria-hidden="true"> My github</i></a><br>

			<a href="https://www.linkedin.com/nhome/?trk=uno-reg-join-sign-in"><i class="fa fa-linkedin" aria-hidden="true"></i><br> My linkend</a><br>
			<a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i>Tweet</a>
			<p class="side-content">You may contact me anytime.</p>

		</div>
	</aside>

	
</div>
<aside>
		<div class="side-post" style="float:left;">
			<ul>
				<li>
					<a href="index">Home</a>
				</li>
			</ul>
		</div>
	</aside>

