<div class="wrp1">



	
	<div class="contact1">
		<div class="container">
			<h5>CONTACT US</h5>
			<div class="form">
				<form action="https://formspree.io/phil9231@gmail.com"
				method="POST">
				<input type="text" name="Full Name" placeholder="Full Name "><br>
				<input type="text" name="Phone" placeholder="Phone"><br>
				<input type="email" name="email" placeholder="Email"><br>
				<textarea name="message" placeholder="Your message"></textarea>
				<span>
					<input type="submit" value="Submit" style="color:green; font-size:30px; font-family:'Abril Fatface', cursive;background: none;
					"></span>
				</form> 
			</div>
			<aside class="col">
				<div class="side-post">
					<a href="https://github.com/philcoo"><i class="fa fa-github" aria-hidden="true"> My github</i></a>
					<p><i class="fa fa-mobile" aria-hidden="true"></i> My phone</a><br>(954) 826-2644</p>
					<p class="side-content">In life, all of your struggles are the keys to your success. However, to possess this key, it requires patience. Having patience will give you the courage to become victorious. So never lose focus on your goals, and you’ll truly discover what you can achieve. 

					</p>
				</div>

				<div class="side-post">
					<a href="https://www.linkedin.com/nhome/?trk=uno-reg-join-sign-in"><i class="fa fa-linkedin" aria-hidden="true"></i><br> My linkend</a>
					<p class="side-content">Questions? Concerns? Please send a message on the form left of the screen

					</p>
					<a href="https://github.com/philcoo"><i class="fa fa-github" aria-hidden="true"> My github</i></a>
					<p><i class="fa fa-mobile" aria-hidden="true"></i> My phone</a><br>(954) 826-2644</p>
					<p class="side-content">In life, all of your struggles are the keys to your success. However, to possess this key, it requires patience. Having patience will give you the courage to become victorious. So never lose focus on your goals, and you’ll truly discover what you can achieve. 

					</p>
				</div>
			</aside>
		</div>
		

	</div>

	<footer class="end">

	</footer>
	</div>