<!-- Update 29.9.2015: <head></head> and <body></body> tags are included in this pen for quick copy/paste in case you to try this challenge offline -->


    <!-- Navigation -->
    <div class="nav1">
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            
                
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="home/aboutme">About</a>
                    </li>
                    <li>
                        <a href="#portfolio">Portfolio</a>
                    </li>
                   <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>

    <!-- Header -->
    <a name="home"></a>
    <div class="intro-header">
      <div class="bg-overlay">
        <div class="container">


          <div class="row">
            <div class="col-lg-12">
              <div class="intro-message">
                <h1>Philco Michel</h1>
                <h3>Software Developer.</h3>
                <hr class="intro-divider">
                <ul class="list-inline intro-social-buttons">

                  <li>
                    <a href="https://github.com/philcoo" target="_blank" class="btn btn-default btn-lg "><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/home?trk=nav_responsive_tab_home" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container -->
      </div>
    </div>
    <a  name="about"></a>
    <div class="content-section-a">
      <div class="bg-overlay2">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-sm-6">

              <div class="clearfix"></div>
              <h2 class="section-heading">Hi There.</h2>
            </br><img  src="https://media.licdn.com/media/AAEAAQAAAAAAAAefAAAAJDgxOTllZWIyLTgwYTUtNDY2MC1iZGZkLWY0ODFmYTg4ZGM2Mg.jpg"><br>
            <h6> My name is Philco Michel</h6>
              <p>I am a full stack developer. I am always hungry to learn more, and I also a self notivator. <br> Not long ago I didn't know How to code the wyncode and the Knight foundaion. you can learn of me in the about me page and see the work II have done so far and there are morre to come thanks for visiting my site. God bless. 
              .</p><br>
              <div class="skill">


              <h5>SKILLS</h5>:</br>
              <p>
              Languages and Frameworks:</br>
              HTML5, CSS3,Javascript,Ruby.</br>
              Frameworks :</br>
              Ruby on rails, Sinatra, Jquery, Bootstrap,react.js.Git, Responsive Web Design,<br>
              Tech, Database:</br>
              OOP, MVC, Git, Command Line, Heroku, Agile, postgreSQL, 
              Award :<br>
              CareCloud Hackathom: second place winner of $2500.</p>
            </div>

          </div>
          <!-- /.container -->
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="end">

      <div class="container">
        <div class="row">
          
           <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            
                
          
                <ul class="nav navbar-nav navbar-right">
            
                    <li>
                        <a href="#portfolio">Portfolio</a>
                    </li>
                   <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
        </div>
      </div>
    </footer>

    

