.wrp{
	text-align:center;
	color:black;
	font-family: 'Shrikhand', cursive;

	margin-bottom: 2.5em;
}
.col{
	background-color: white;
	border: solid;
	padding-right: 2em;
	padding-left: 2em;
	margin-right: 4em;

}

.wrp1{
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.pro{
	
	font-family: 'Abril Fatface', cursive;
}