<!DOCTYPE html>
<html>
  <head>
    <title>Phil

    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  <script src="https://use.fontawesome.com/47a57f51ee.js"></script>
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <style>
@import url('https://fonts.googleapis.com/css?family=Anton|Shrikhand|Slabo+27px');
</style>
<style>
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
</style>
<style>
@import url('https://fonts.googleapis.com/css?family=Anton');
</style>
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

          

  <body>
    <%= yield %>
  </body>
</html>
